
        <%= link_to "add book", new_book_path if user_signed_in? %>
       <div class="inv" id="inv">
        <% @books.each do |i|%>

        <div class="item">
            <%= link_to i.title, book_path(i.id) %>
            <div class="details">
            <div class="priceAndQuantity">
           <p> <%= i.year %></p>
            <p><%= i.author %></p>
            </div>
            
            <%= i.description %>
            </div>
            <div class="priceAndQuantity">
                <p>cantidad</p>
                <p>lugar</p>
            </div>
        </div>

        <% end%>
       </div>
       